.w-50-percent
{
	width: 50% !important;
}
.w-100-percent
{
	width: 100% !important;
}
.w-33-percent
{
	width: 33.33% !important;
}
.green
{
	background: #00ad6e !important;
}

.red
{
	background: #e72530 !important;
}

.amber
{
	background: #eaab0e !important;
}

.blue
{
	background: #187ad3 !important;
}
.borderless td, .borderless th 
{
    border: none !important;
}

#afcsReportTable > thead > tr{
	min-width: 2em;
    min-height: 2em;
    border: 1px solid #ccc;
}

#afcsReportTable > thead > tr > th{
	min-width: 2em;
    min-height: 2em;
    border: 1px solid #ccc;
}
body > div.wrapper > aside > section > ul > li > ul > li > ul > li > a
{
	white-space: initial;
}

.color-cyan
{
	color: cyan;
}
.roaster_table,.roaster_table th,.roaster_table td{ border: 1px solid black;}
.roaster_crew_container_td{}
.roaster_crew_container{overflow: auto;height: 80px;padding-left: 5px;max-height: 80px;margin: 1px;}
.roaster_crew_container label{font-weight: normal;}